    
   .outline{
        /* border:1px solid red; */
    }
    header h1{
        font-size: 3.2em;
    }
    
    body{
        width: 95%;
        margin:auto;
        font-family: Arial, Helvetica, sans-serif;
                color:darkblue;
                background-color: gainsboro;
        }
        h1{
            color:#45a2da;
                    
        }
        a{
            
            color:darkblue;
            text-decoration: none;
            
        }
        a:hover{
            color:#45a2da;
        }
        
        .btn{
            display: inline-block;
            margin-top: .33em;
            margin-bottom: .33em;
            background-color: #45a2da;
            color: white;
            padding: .66em;
            border-radius: .66em;
                      
                       
        }

        .btn:hover{
            color: white;
            background-color: #317aa7;
            box-shadow: 4px 1px 1px #45a2da inset;
            
        }

        footer{
            
            color:black;
          
        }
        .flex_container{
            display: flex;
            align-items: center;

        }
        .space_between{
            justify-content: space-between;
        }
        .nav_list{
            list-style: none;
            
        }

        .nav_list li{
            padding: 1em;
        }