    
   .outline{
        /* border:1px solid red; */
    }
    header h1{
        font-size: 3.2em;
    }
    
    body{
        width: 95%;
        margin:auto;
        font-family: 'Nunito Sans', sans-serif;
                color:darkblue;
                background-color: gainsboro;
        }
        h1{
            color:#45a2da;
                    
        }
        a{
            
            color:darkblue;
            text-decoration: none;
            
        }
        a:hover{
            color:#45a2da;
        }
        
        .btn{
            display: inline-block;
            margin-top: .33em;
            margin-bottom: .33em;
            background-color: #45a2da;
            color: white;
            padding: .66em;
            border-radius: .66em;
                      
                       
        }

        .btn:hover{
            color: white;
            background-color: #317aa7;
            box-shadow: 4px 1px 1px #45a2da inset;
            
        }
        img{
            max-width: 100%;
            
            
        }
        input[type="submit"]{
            background-color: rgb(216, 20, 23);
            color:white;
            padding: 1em;
            border-radius: 1em;
            display:inline-block;
            border: 0;
        }
        
        input[type="submit"]:hover{
            background-color: #45a2da;
            color:white;
            box-shadow: 2px 2px 0px rgb(216, 20, 23) inset; 
        }
        input[type="password"],
        input[type="email"]{
            display: inline-block;
            border: 0;
            background-color: rgb(255, 255, 255);
            padding: 1em;
            border-radius: .75em;
            width: 50%;
        }
        
        input[type="email"]:focus{
            outline-width: 0px;
            box-shadow: 0px 0px 11px 3px #45a2da;
        }
        fieldset{
            border-style: solid;
            border-color: #45a2da;
            border-width: 1.5px;
            border-radius: 1em;
            
        }
        .fixed_bottom{
            position: fixed;
            top: 78vh;
            background-color: gainsboro;
            text-align: right;
        }
        .fixed_top{
            position: -webkit-sticky;
            position: sticky;
            top: 0vh;
            background-color: #45a2da

        }
     
        footer{
            
            color:black;
          
        }
        form{
            width: 50%;
        }
        .flex_container{
            display: flex;
            align-items: center;

        }
        .space_between{
            justify-content: space-between;
        }
        
        legend{
            background-color: #45a2da;
            color: white;
            padding: .5em;
            border-radius: .75em;
            text-align: center;
            

        }
        .nav_list{
            list-style: none;
            
        }

        .nav_list li{
            padding: 1em;
        }

        .logo{
            height: 5em;
            width: 12.75em;
            /* background-color: black; */
            background-image: url(logo.png);
            background-size: 12.75em;
            background-color: white;
            
            padding: .3em;


        }
        .col-50{
            flex-basis: 50%;
        }